[Desktop Entry]
Type=Application

Name=Mapiah
Comment=User friendly Therion map editor
Categories=Graphics;

Icon=org.mapiah.mapiah
Exec=AppRun
Terminal=false
StartupWMClass=Mapiah
